.truncate {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

img.clickable {
	cursor: pointer;
}

footer {
	clear: both;
  background-color: #000;
  height: 40px;
}

footer p {
  color: rgb(153, 153, 153);
  text-align: center;
  line-height: 40px;
}

#wrapper {
	min-height: 500px;
}

#new-movie-btn {
  /*float: right;*/
  margin-top: 15px;
}

body {
    background: url('/assets/grey_wash_wall.png');
    color: #FFF;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 1.3em;
}

.thumbnail {
    border: none;
    text-align: center;
}

img {
    border: 5px solid #474747;
}

img:hover {
    border-color: #1D1E21;
}

.navbar-inner {
    background-color: #FFF; /* background color will be black for all browsers */
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
}

.disabled {
  font-style: italic;
  color: gray;
}

.navigation {
  text-decoration: underline;
}

.navigation:hover {
  cursor: pointer;
}

.enabled:hover {
  font-weight: bold;
}

.well {
  color: #000;
}