.truncate {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

img.clickable {
	cursor: pointer;
}

footer {
	clear: both;
  background-color: #000;
  height: 40px;
}

footer p {
  color: rgb(153, 153, 153);
  text-align: center;
  line-height: 40px;
}

#wrapper {
	min-height: 500px;
}

#new-movie-btn {
  /*float: right;*/
  margin-top: 15px;
}