<div class="row-fluid">
  <div class="span3">
    <img alt="<=% title %>" src="<=% img_url %>">
  </div>
  <div class="span9">
    <div>
      <h3><=% title %></h3>
      <p><=% summary %></p>
      <p>Updated at: <%= updated_at %></p>
      <br>
    </div>
  </div>
</div>
