<div class="thumbnail">
	<img src="<%= img_url %>">
	<h4 class="truncate"><%= title %></h4>
	<p><%= summary %></p>
  <p>Updated at: <%= updated_at %></p>
  <button class="btn" id="viewMovie">view movie</button>
</div>
