<div class="row-fluid" id="movie-hot">
	<h1 class="span10" style="font-family:'Allura'; font-size:64px; text-shadow: 1px 1px #000;">Trending now ... </h1>
	<a style="font-weight:bold" href="#" id="new-movie-btn" class="btn btn-large btn-primary"><i class="icon-plus"></i>&nbsp;MOVIE</a>
</div>

<div class="row">
	<ul id="subview-container" class="thumbnails"></ul>
</div>

<div>
	<span id="prev" class="navigation disabled">Previous</span>
	<span> - </span>
	<span id="next" class="navigation disabled">Next</span>
</div>