<div class="page-header row-fluid">
	<h1 class="span10">What's Hot</h1>
	<a href="/#new_movie" id="new-movie-btn" class="btn btn-primary">Add new movie</a>
</div>

<div>
	<ul id="subview-container" class="thumbnails">

	</ul>
</div>
