<div class="page-header row-fluid">
	<h1 class="span10">What's Hot</h1>
	<a href="#" id="new-movie-btn" class="btn btn-primary">Add new movie</a>
</div>

<div>
	<ul id="subview-container" class="thumbnails">

	</ul>
</div>

<div>
	<span id="prev" class="navigation disabled">Previous</span>
	<span> - </span>
	<span id="next" class="navigation disabled">Next</span>
</div>