<div class="well">
  <div class="row-fluid">
    <p class="span12">
      <strong><%= user.username %></strong> reviewed at <%= dateFormat(updated_at) %>.
      <span class="label label-success pull-right"><%= score %> points
      </span>
    </p>
  </div>
  <div class="row-fluid">
    <p class="span12"><%= comment %></p>
    <% if (user.id != gon.user_id) { %>
      <% alert( user.id +"  "+gon) %>
      <button class="btn btn-danger pull-right" id="deleteReview">Delete Review</button>
    <% } %>
  </div>
</div>
